[submodule "blogger-backend"]
	path = blogger-backend
	url = https://github.com/kaagaj-bottle/blogger-backend.git
[submodule "blogger-frontend"]
	path = blogger-frontend
	url = https://github.com/kaagaj-bottle/blogger-frontend.git
